<% form_for [@task, @comment || Comment.new] do |form| %>
  <h3><%= form.label :text, t(:'.title') %></h3>
  <%= form.text_area :text %>
  <%= form.submit t(:'.submit')%> | <input type="button" class="preview" value="<%=t :'.preview' %>">
<% end %>