<p class="domain_fields">
  <label for="user_domain">Domain</label>
  http://
  <input type="text" name="domain" id="user_domain" value="<%= params[:domain] %>" style="width: 180px" />
  .taskarapp.com
</p>