<div class="actions">
	<%= link_to t(:edit), [:edit, @task], :class => "edit", :'data-remote' => true unless @task.archived? %>
	<%= link_to_delete t(:delete), @task, :class => "delete", :confirm => t(:'tasks.task.confirm') %>
</div>
<%= task_state_checkbox(@task) %>
<%= simple_format auto_link(h(@task.text)) %>