<% unless @tasks.size > 0 %>
  <li><%= t(:'tasks.show.no_results_found') %></li>
<% else %>
  <% @tasks.each do |task| %>
    <li><%= link_to highlight(h(truncate(task.text)), h(params[:ss]).split(' ').compact, :highlighter => '<strong>\1</strong>'), task %></li>
  <% end %>
<% end %>