<div id="task_title">
  <%= task_state_checkbox(@task) %>
  <%=h @task.text %>
  <p>
    
  </p>
</div>
<ul id="comments">
  <%= render @task.comments %>
  <li id="new_comment">
      <%= render "comments/new_form" %>    
  </li>
</ul>