<div id="task_title">
  <%= render "task_title" %>
</div>
<% if @task.comments.size > 0 %>
<h3><icon name="comments"><%=t :'.comments', :count => '<span id="comments_count">' + @task.comments.size.to_s + '</span>' %></h3>
<% end %>
<ul id="comments">
  <%= render @task.comments %>
</ul>
<div id="new_comment">
   <%= render "comments/new_form" %>
</div>