<section id="changes">
  <header>
  	<%=title t(:changes) %>
  </header>
  <table id="events" colspan="0" rowspan="0" width="100%">
  	  <tr>
        <th colspan="2"><h2>Октомври 2010</h2></th>
      </tr>
	    <tr>
	      <td><span>27 Октомври</span></td>
	      <td>Добавяне на модула <strong>Промени</strong></td>
	    </tr>
  </table>
</section>