<section id="changes">
  <header>
  	<%=title t(:changes) %>
  </header>
  <table id="events" colspan="0" rowspan="0" width="100%">
  	  <tr>
        <th colspan="2"><h2>October 2010</h2></th>
      </tr>
      <tr>
  	    <td><span>31 October</span></td>
  	    <td>Fixed a bug in displaying <strong>completed</strong> and <strong>rejected</strong> task checkboxes on  <strong>Android</strong></td>
  	  </tr>
      <tr>
  	    <td><span>31 October</span></td>
  	    <td>Changed the main font</td>
  	  </tr>
      <tr>
  	    <td><span>31 October</span></td>
  	    <td>Fixed a bug in tasks archiving proccess</td>
  	  </tr>
      <tr>
  	    <td><span>31 October</span></td>
  	    <td>New design for task's comments page</td>
  	  </tr>
      <tr>
	      <td><span>29 October</span></td>
	      <td>Make the <strong>Feedback</strong> and <strong>Status</strong> form to look more a like</td>
      </tr>
      <tr>
	      <td><span>29 October</span></td>
	      <td>Added <strong>Feedback</strong> form</td>
      </tr>
      <tr>
	      <td><span>28 October</span></td>
	      <td>Better display of user invitations list</td>
	    </tr>
	    <tr>
	      <td><span>27 October</span></td>
	      <td>Added the <strong>Changes</strong> module</td>
	    </tr>
  </table>
</section>