<section id="changes">
  <header>
  	<%=title t(:changes) %>
  </header>
  <table id="events" colspan="0" rowspan="0" width="100%">
    <tr>
      <th colspan="2"><h2>Ноември 2010</h2></th>
    </tr>
    <tr>
	    <td><span>2 Ноември</span></td>
	    <td>По-добри бутони за <strong>архивиране</strong></td>
    </tr>
    <tr>
	    <td><span>2 Ноември</span></td>
	    <td>Промяна на дизайна на <strong>списъците от задачи</strong>, промяна на позициите на драг бутона и етиката с отговорника на задачата</td>
    </tr>
    <tr>
      <th colspan="2"><h2>Октомври 2010</h2></th>
    </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td><strong>Промени</strong> вече са достъпни публично</td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td>Формите за <strong>Регистрация</strong> и <strong>Приемане на покани</strong> вече са достъпни на всички езици</td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td><strong>Секциите</strong> вече се наричат <strong>Списъци</strong></td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td>Оправен е проблема с извеждането на checkbox за <strong>завършени</strong> и <strong>отхвърлени</strong> задачи под <strong>Android</strong></td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td>Промяна на основния шрифт на приложението</td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td>Опревен е проблем при архивирането на задачи</td>
	  </tr>
    <tr>
	    <td><span>31 Октомври</span></td>
	    <td>Нов дизайн за станицата с кометарите към задача</td>
	  </tr>
    <tr>
      <td><span>29 Октомври</span></td>
      <td>Уеднаквяване на стила на формите за <strong>Обратна връзка</strong> и <strong>Промяна на статус</strong></td>
    </tr>
    <tr>
      <td><span>29 Октомври</span></td>
      <td>Добавена формата за <strong>Обратна връзка</strong></td>
    </tr>
  	<tr>
      <td><span>28 Октомври</span></td>
      <td>По-добро извеждане на списъка с поканените потребители</td>
    </tr>
	  <tr>
      <td><span>27 Октомври</span></td>
      <td>По-добри преводи на <strong>български език</strong>, при извеждането на дати</td>
    </tr>
    <tr>
      <td><span>27 Октомври</span></td>
      <td>Добавяне на модула <strong>Промени</strong></td>
    </tr>
  </table>
</section>