html, body {
  background-color: #dadada;
  margin: 0;
  padding: 0;
  -webkit-background-clip: padding-box;
}

body, input, textarea, select {
  color: #5c5c5c;
  font-family: arial, tahoma, verdana, sans-serif;
}

input[type="submit"], input[type="button"] {
  cursor: pointer;
}

textarea {
    resize: none;
}

a {
  color: #5C5C5C;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:active {
  outline: 0;
}

header, nav, section, article, aside, footer {
  display: block;
}

.cancel {
  font-size: 12px;
  text-decoration: none;
}

.cancel:hover {
  color: #FF0000;
}

.alert {
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 10px red;
  -moz-box-shadow: 0px 0px 10px red;
  -webkit-box-shadow: 0px 0px 10px red;
}

.notice {
  color: green;
  padding: 10px;
  margin-bottom: 15px;
  background: #fff;  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 10px;
  box-shadow:0px 0px 10px green;
  -moz-box-shadow:0px 0px 10px green;
  -webkit-box-shadow:0px 0px 10px green;
}

#nav_main, footer {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

/*** HEADER ***/

#header {
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  color: #eee;
  text-shadow: 0px 1px 0px #000;
  margin-bottom: 20px;
  padding: 5px 20px 0 15px;
  height: 28px;
  background: #243455;
  background: -moz-linear-gradient(top, #3B547E, #243455);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B547E), to(#243455), color-stop(.2,#364F82));
  border-bottom: 1px solid #4E5B65;
  text-align: center;
}

#header h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  float: left;
}

#nav_dashboard {
  text-decoration: none;
  font-size: 12px;
  padding: 2px 4px 6px 4px;
}

#nav_dashboard:hover {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #000;
}

#nav_projects {
  float: left;
  display: inline-block;
  font-size: 12px;
  position: relative;
  margin-left: 5px;
}

#nav_projects span {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  font-size: 10px;
}

#nav_projects:hover span {
  text-shadow: none;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #000;
  height: 18px;
  text-decoration: none;
}

#nav_projects ul {
  text-align: left;
  text-shadow: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  display: none;
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#nav_projects:hover ul {
  display: inline-block;
}

#nav_projects a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #095da0;
  display: block;
  padding: 10px;
  margin: 1px;
  text-decoration: none;
}

#nav_projects a:hover {
  background-color: #e9e9e9;
  color: #5c5c5c;
}

#nav_projects .selected {
  background-color: #375185;
  color: #fff;
}

#nav_account {
  float: right;
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
}

#nav_account a {
  color: #fff;
  padding: 2px 5px;
  text-decoration: none;
}

#nav_account a:hover {
  text-shadow: none;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #000;
}

#nav_project {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-top: -5px;
  position: relative;
}

#nav_project span a:first-child {
  border-radius: 4px 0px 0 4px;
  -moz-border-radius: 4px 0px 0 4px;
  -webkit-border-radius: 4px 0px 0 4px;
}

#nav_project span a {
  border: 1px solid #000;
  -moz-box-shadow: #33588B 0px 0px 1px 1px inset, rgba(255, 255, 255, 0.246094) 0px 1px 0px 0px;
  -webkit-box-shadow: #33588B 0px 0px 1px 1px inset, rgba(255, 255, 255, 0.246094) 0px 1px 0px 0px;
  background: #3B547E;
  background: -moz-linear-gradient(top, #3B547E, #243455);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33588B), to(#233354), color-stop(.2,#3E5A94));
  color: #eee;
  text-decoration: none;
  font-weight: normal;
  padding: 4px 12px 4px 12px;
  margin-left: -4px;
}

#nav_project span a:hover {
  background: #375185;
}

#nav_project span a:active, #nav_project span a.selected {
  background: #233354;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#nav_project span a:last-child {
  border-radius: 0 4px 4px 0px;
  -moz-border-radius: 0 4px 4px 0px;
  -webkit-border-radius: 0 4px 4px 0px; 
}

#notify_badge {
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#F66), color-stop(0.02, #D60000), color-stop(0.5, #DB0000), color-stop(0.51, #C00), to(#900));
  border: 2px solid white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: #000 0px 1px 3px;
  -moz-box-shadow: #000 0px 1px 3px;
  -webkit-box-shadow: #000 0px 1px 3px;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  max-width: 20px;
  min-width: 8px;
  width: auto;
  overflow: hidden;
  padding: 1px 5px;
  text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; 
  white-space: nowrap;
  position: absolute;
  top: 10px;
  left: -15px;
}

/*** MAIN NAVIGATION ***/

#nav_main {
  background-color: #fff;
  height: 40px;
  margin: 0 auto;
  width: 980px;
  position: relative;
}

#goto_dashboard {
  background: #eee url(../images/sprite.png) 13px -16px no-repeat;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}

#goto_dashboard:hover {
  background-position: 13px -49px;
}

#new_section {
  overflow: hidden;
}

#new_section form {
  width: 240px;
}

#nav_sections {
  width: 900px;
  height: 40px;
  overflow: hidden;
  float: left;
  font-size: 14px;
}

#nav_sections li {
  display: block;
  float: left;
  height: 30px;
  padding: 5px 0;
}

#nav_sections .dragging {
  box-shadow: 0px 10px 20px -10px #888;
  -moz-box-shadow: 0px 10px 20px -10px #888;
  -webkit-box-shadow: 0px 15px 20px -10px #888;
}

#nav_sections .section a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #00589d;
  float: left;
  font-weight: bold;
  line-height: 32px;
  max-height: 30px;
  padding: 0 15px;
  text-decoration: none;
}

#nav_sections .section a:hover {
  background-color: #00589d;
  color: #fff;
}

#nav_sections .section a:active {
  background-color: #9dbed9;
}

#nav_sections .section .selected {
  background-color: #5c5c5c;
  color: #fff;
}

#nav_sections .add_section {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: visible;
  text-align: center;
  width: 5px;
}

#nav_sections li:hover.add_section {
  background-color: #9dbed9;
  cursor: pointer;
}

#nav_sections .add_section a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#nav_sections form {
  background-color: #eee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 22px;
  padding: 4px;
}

#nav_sections input[type="text"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d7d7d7;
  font-size: 12px;
  margin-right: 5px;
  width: 100px;
}

#nav_sections input[type="text"]:hover {
  border-color: #b7b7b7;
}

#nav_sections input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 2px #999;
  -moz-box-shadow: 0px 0px 2px #999;
  -webkit-box-shadow: 0px 0px 2px #999;
}

#nav_more_sections {
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  display: block;
  float: right;
  height: 40px;
  overflow: visible;
  position: relative;
  width: 40px;
}

#nav_more_sections span {
  background: url(../images/sprite.png) 13px -89px no-repeat;
  display: block;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#nav_more_sections:hover {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

#nav_more_sections:hover span {
  background-position: 13px -121px;
}

#nav_more_sections ul {
  background: #eee;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  display: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 9999;
}

#nav_more_sections:hover ul {
  display: block;
}

#nav_more_sections ul a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #4b4b4b;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#nav_more_sections ul a:hover {
  background-color: #00589d;
  color: #fff;
}

#nav_more_sections ul a:active {
  background-color: #9dbed9;
}


/*** SECTION ***/

section {
  display: table;
  margin: 15px auto;
  min-height: 200px;
  width: 980px;
}

/*** ARTICLE ***/

article {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  display: table-cell;
  padding-bottom: 20px;
  vertical-align: top;
}

/*** PERSONAL ***/

.personal {
  background-color: #f8f8f8;
}

/*** ASIDE ***/

aside {
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  width: 220px;
}

.list_images, .list_extended {
  background-image: url(../images/sprite.png);
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 17px;
  margin-right: 2px;
  width: 19px;
}

.list_images {
  background-position: -28px 3px;
}

.list_extended {
  background-position: -29px -27px;
}

.list_extended:hover, .list_images:hover, .list_on {
  background-color: #fff;
  border-color: #D7D7D7;
}

/*** LIVE SEARCH ***/

#live_search {
  position: relative;
  margin-bottom: 20px;
}

#live_search input[type="text"] {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 12px;
  padding: 4px 25px 4px 10px;
  width: 190px;
}

#live_search input[type="text"]:hover {
  border-color: #b7b7b7;
}

#live_search input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 4px #999;
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
}

#live_search input[type="submit"], #live_search input[type="reset"] {
  background: url(../images/sprite.png) 0 -243px no-repeat;
  border: 0;
  position: absolute;
  right: 4px;
  top: 5px;
}

#live_search input[type="submit"]:hover {
  background-position: 0 -278px;
}

#live_search input[type="reset"] {
  background-position: 0 -313px;
}

#live_search input[type="reset"]:hover {
  background-position: 0 -348px;
}

#live_search img {
  position: absolute;
  right: 6px;
  top: 5px;
}

#live_search ul {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  font-size: 12px;
  padding: 5%;
  position: absolute;
  width: 90%;
  z-index: 1001;
}

#live_search a {
  color: #333;
  text-decoration: none;
}

#live_search li {
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#live_search .selected {
  background-color: #EEE;
}

#live_search strong {
  color: #00589d;
}

/*** USER CARD ***/

#user_card {
  font-size: 12px;
  height: 50px;
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
  width: 95%;
  position: relative;
}

#user_card a {
  color: #5C5C5C;
  text-decoration: none;
}

#user_card a:hover {
  color: #00589d;
}

#user_card img {
  float: left;
  margin-right: 10px;
  border: 1px solid #C4C4C4;
  cursor: pointer;
}

#user_card img:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

#user_card strong {
  display: block;
  font-size: 14px;
}

#new_status {
  background: none;
  right: 0px;
  bottom: -25px;
  z-index: 1002;
}

#new_status .arrow {
  right: 185px;
  top: 4px;
  
}

#new_status .form_content {
  position: absolute;
  right: 0px;  
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #E3E3E3;
  border: 4px solid #000;
}

#new_status textarea {
  height: 60px;
  width: 332px;
}

#new_status input[type="submit"] {
  float: left;
  font-size: 16px;
}

#new_status input[type="button"] {
  float: right;
  margin-top: 5px;
  font-size: 16px;
}

/*** People on this project ***/

#people_envolved h3 {
  border-top: 1px solid #D7D7D7;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 15px 0 10px;
}

#people_envolved ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.people_images li {
  display: inline-block;
  height: 32px;
  margin: 0 0 5px;
  position: relative;
  width: 32px;
}

.people_images img {
  max-width: 100%;
}

#people_envolved .people_info {
  font-size: 11px;
}

.people_images li .people_info {
  background-color: #A5A5A5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  display: none;
  padding: 7px 10px;
  position: absolute;
  right: -16px;
  top: -47px;
  white-space: nowrap;
}

.people_images li:hover .people_info {
  display: block;
}

.people_images .people_info span {
  background: url(../images/sprite.png) 0 0 no-repeat;
  bottom: -4px;
  display: block;
  height: 4px;
  position: absolute;
  right: 28px;
  width: 7px;
}

#people_envolved p {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  width: 180px;
}

.people_extended li {
  height: 42px;
  line-height: 10px;
}

.people_extended img {
  float: left;
  margin-right: 10px;
  max-width: 32px;
  border: 1px solid #ccc;
}

#people_envolved strong {
  display: block;
  font-size: 12px;
  padding-bottom: 2px;
}

/*** SECTIONS ***/

section header {
  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
  padding: 15px 10px 10px 20px;
  margin-bottom: 20px;
  position: relative;
}

section header h1 {
  font-size: 18px;
  padding-top: 3px;
  padding-left: 35px;
  vertical-align: middle;
  height: 22px;
  overflow: hidden;
}

section header a {
  float: right;
}

#sections_index h1, #statuses_index h1 {
  background: url(../images/i.png) 0px 0px no-repeat;
}

#section_title h1 {
  background: url(../images/i.png) 0px -26px no-repeat;
}

#section_title h1.archived {
  background: url(../images/i.png) 0px -52px no-repeat;
}

/*** EVENTS ***/

#events {
  padding: 0 20px;
  width: 100%;
  font-size: 12px;
}

#events h2 {
  float: left;
  font-size: 14px;
  padding: 10px;
}

#events span {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  color: #fff;
  display: block;
  padding: 5px;
  font-size: 10px;
  background-color: #ccc;
  height: 10px;
  line-height: 8px;
}

#events span.task {
  background-color: #00589D;
}

#events span.status {
  background-color: #C87811;
}

#events span.comment {
  background-color: #6492AC;
  border: none;
}

#events td {
  border-bottom: 1px solid #EEE;
  padding: 5px;
}

#events .user {
  font-size: 12px;
  color: #000;
}

#events .action {
  font-size: 10px;
  color: #808080;
}

#events .completed {
  opacity: 0.6;
}

#events .deleted, #events .rejected {
  opacity: 0.6;
  text-decoration: line-through;
}

#events a {
  color: #000;
  padding: 2px 4px 2px 4px;
}

.pagination {
  margin: 10px;
}

.pagination .disabled {
  opacity: 0.4;
}

.prev_page, .next_page {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.prev_page {
  float: left;
  background: url(../images/i.png) -2px -154px no-repeat;
}

a.prev_page:hover {
  background-position: -39px -154px;
}

.next_page {
  float: right;
  background: url(../images/i.png) -2px -186px no-repeat;
}

a.next_page:hover {
  background-position: -38px -186px;
}

/*** SECTIONS/SHOW SECTION TITLE ***/

#section_title h1 a {
  display: none;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  float: none;
}

#section_title h1:hover a {
  display: inline-block;
}

#section_title .archive, #section_title .unarchive {
  vertical-align: 0%;
}

#section_title .delete {
  margin: -3px 6px 2px 6px;
}

#section_title .edit {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 6px 2px 6px;
  margin-top: -5px;
  color: #00589D;
}

#section_title .edit:hover {
  background-color: #014577;
  color: #fff;
}

#section_title .delete {
  color: #5c5c5c;
}

#section_title .delete:hover {
  color: #FF0000;
}

#section_title form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 16px;
}

#section_title form input[type="text"] {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 12px;
  margin-right: 10px;
  padding: 4px 25px 4px 10px;
  width: 300px;
}

#section_title form input[type="text"]:hover {
  border-color: #7e7e7e;
}

#section_title form input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 4px #999;
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  color: #2c2c2c;
}

/*** SECTIONS/SHOW TASKS LISTS ***/

.tasks_list {
  padding: 0 20px 20px 20px;
  color: #3d3d3d;
}

.tasks_list .task {
  padding: 10px 10px 5px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.tasks_list li:hover.task {
  background-color: #ECF3FE;
}

.tasks_list .rejected p, .tasks_list .rejected .checkbox, .tasks_list .completed p, .tasks_list .completed .checkbox {
  opacity: 0.6;
}

.checkbox {
  background: #5C5C5C;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 16px;
  height: 16px;
  margin: 1px 5px 0 0;
  width: 16px;
}

.tasks_list p {
  display: inline-block;
  max-width: 615px;
}

.tasks_list .rejected p {
  text-decoration: line-through;
}

.tasks_list .more {
  color: #00589D;
  cursor: pointer;
  font-size: 12px;
  display: none; 
  margin-left: -6px; 
}

.tasks_list .drag {
  background: url(../images/sprite.png) -28px -63px no-repeat;
  display: none;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 13px;
}

.task .drag:hover {
  background-position: -28px -103px;
}

.checkbox.completed:after {
  content: "✔";
  display: inline-block;
  margin: -2px 0 0 1px;
}

.checkbox.rejected:after {
  content: "✘";
  display: inline-block;
  margin: -2px 0 0 3px;
}

.task p {
  overflow: hidden;
  height: 18px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; 
  white-space: nowrap;
}

.task p.less {
  white-space: normal;
  text-overflow: none;
  -o-text-overflow: none;
}

.opened .archive {
  display: none;
}

.completed .archive, .rejected .archive {
  display: inline-block;
}

.archive {
  width: 12px;
  height: 14px;
  background: url(../images/i.png) 0px -226px no-repeat;
}

.archive:hover {
  background-position: -52px -226px;
}

#archived_tasks {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #EEE;
}

#archived_tasks .task .edit, .task.completed .edit, .task.rejected .edit {
  display: none;
}

#archived_tasks .archive, .unarchive {
  width: 18px;
  height: 14px;
  display: inline-block;
  background: url(../images/i.png) 0px -240px no-repeat;
}

#archived_tasks .archive:hover, .unarchive:hover {
  background-position: -52px -240px;
}

.tasks_list li:hover.task .drag {
  display: block;
}

.tasks_list li:hover.task .more {
  display: inline-block;
}

.tasks_list.dragging .tooltip, .tasks_list.dragging .drag, .tasks_list.dragging .more {
  visibility: hidden;
}

.static .add {
  display: none;
}

.static .task .drag {
  visibility: hidden;
}

#archived_tasks_empty {
  font-size: 14px;
  color: #5C5C5C;
}

/*** SECTIONS/SHOW FOOTER ***/

#section_footer {
  padding: 0 20px 0 20px;
}

#section_footer input[type="button"] {
  padding: 4px 10px 4px 10px;
}

#section_footer input[type="button"]:hover {
  color: #fff;
  background-color: #00589D;
  border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#section_footer li {
  display: inline-block;
}

#section_footer > li:last-child {
  float: right;
}

.toggle_archived {
  display: inline-block;
  width: 50px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.toggle_archived.selected {
  color: #fff;
  background-color: #00589D;
}

.toggle_archived.loading {
  background: url(../images/loader_archive.gif) #00589D center no-repeat;
  text-indent: -9999px;
}

/*** SECTIONS/SHOW MORE ACTIONS ***/

#more_actions {
  font-size: 11px;
  line-height: 15px;
  overflow: hidden;
  padding-top: 4px;
  position: relative;
  text-align: center;
  z-index: 1001;
}

#more_actions:hover {
  overflow: visible;
}

#more_actions span {
  cursor: pointer;
  display: block;
  height: 15px;
  padding: 4px 10px 4px 10px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

#more_actions:hover span {
  color: #fff;
  background-color: #00589D;
}

#more_actions ul {
  background-color: #00589D;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  padding: 3px 0;
  position: absolute;
  border: 1px solid #00589D;
}

#more_actions li {
  display: block;
  padding: 0 2px;
}

#more_actions a {
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}

#more_actions li a:hover, #more_actions li span:hover {
  background-color: #fff;
  color: #00589D;
}

/*** FOOTER ***/

footer {
  background-color: #e2e2e2;
  color: #b8b8b8;
  font-size: 11px;
  height: 14px;
  margin: 0 auto;
  padding: 10px 10px 10px 14px;
  width: 956px;
}

footer p {
  display: inline;
}

#scroll_to_top {
  background: url(../images/sprite.png) 4px -173px no-repeat;
  cursor: pointer;
  display: block;
  float: right;
  height: 14px;
  width: 20px;
}

#scroll_to_top:hover {
  background-position: 4px -203px;
}

/*** ACTION FORM ***/

.wrap {
  padding: 0 20px 20px;
}

.action_form {
  padding: 13px 15px;
  position: relative;
  background-color: #eee;
  font-size: 14px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.action_form p {
  padding-bottom: 5px;
}

.action_form label {
  text-shadow: #fff 1px 1px 1px;
  color: #5C5C5C;
}

.action_form h3 {
  text-shadow: #fff 1px 1px 1px;
  color: #5C5C5C;
  margin: 10px 0 10px 0;
}

.action_form textarea {
  display: block;
  width: 100%;
  height: 100px;
  margin: 10px 0 10px 0;
}

.action_form .buttons {
  border-top: 1px dotted #C3C3C3;
  padding-top: 10px;
  margin-top: 10px;
  color: #5C5C5C;
  font-size: 12;
}

.action_form input[type="text"], .action_form input[type="password"] {
  width: 300px;
}

.action_form select {
  width: 150px;
}

.action_form input[type="submit"] {
  color: #fff;
  border: 1px solid #135F9F;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #1977c0;
  background: -moz-linear-gradient(top, #76B7EF, #135F9F);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#76B7EF), color-stop(0.02, #1C87E3), to(#135F9F));
  font-size: 12px;
  text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
  padding: 4px 8px;
  margin-right: 5px;
}

.action_form input[type="submit"]:hover {
  border: 1px solid #002E52;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.action_form input[type="submit"]:active {
  background: #1977c0;
  background: -moz-linear-gradient(top, #00589D, #1977c0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00589D), to(#1977C0), color-stop(1,#1977C0));
}

input[type="button"], .cancel {
  background: none;
  border: 0;
  color: #5c5c5c;
}

.action_form .cancel {
  margin-left: 5px;
  padding: 0;
  color: #F00;
  text-decoration: none;
}

.action_form .cancel:hover {
  text-decoration: underline;
}

.error_messages {
  border-bottom: 1px dotted red;
  margin-bottom: 10px;
  padding: 10px;
  color: #CC0000;
  font-size: 12px;
}

.fieldWithErrors textarea, .fieldWithErrors input, .fieldWithErrors select {
  border: 2px solid #ff9999;
}

/*** TASKS/SHOW ***/

#task_title, #tasks_index h1 {
  background: url(../images/i.png) 0px -76px no-repeat;
  font-size: 16px;
}

#task_content {
  margin: 20px;
  position: relative;
}

#task_content .content {
  padding: 10px;
  background: #ECF3FE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#task_content .actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 11px;
  background: #fff;
  padding: 10px 10px 10px 0;
  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  display: none;
}

#task_content:hover .actions {
  display: block;
}

#task_content .actions a {
  color: #00589D;
  text-decoration: none;
  margin-left: 10px;
}

#task_content .edit:hover {
  text-decoration: underline;
  color: #014577;
}

#task_content .delete:hover {
  text-decoration: underline;
  color: #C00;
}

#comments {
  margin: 10px;
  padding: 10px;
}

#comments h3 {
  background:  url(../images/i.png) 0px -100px no-repeat;
  padding-left: 35px;
  height: 23px;
}

#comments ul {
  margin-top: 10px;
}

.comment {
  position: relative;
  border-top: 1px solid #C3C3C3;
  padding: 10px;
  clear: both;
}

.comment a {
  text-decoration: none;
  color: #5C5C5C;
}

.comment a:hover {
  text-decoration: underline;
}

.comment img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
	padding: 4px;
}

.comment > div {
	margin-left: 75px;
}

.comment time {
  float: right;
  font-size: 10px;
  font-weight: normal;
}

.comment .actions {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
  padding: 5px;
  background-color: #fd7;
  border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   -webkit-border-radius: 0 0 5px 5px;
}

.comment .edit, .comment .delete {
  padding: 3px;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.comment .edit:hover {
  color: #014577;
}

.comment .delete:hover {
  color: #FF0000;
}

#new_comment {
  margin: 10px;
  padding: 10px;
}

#new_comment label {
  background:  url(../images/i.png) 0px -128px no-repeat;
  padding: 4px 0 0 40px;
  height: 23px;
  font-size: 16px;
}

@-webkit-keyframes bounce-scale {
  from {
    -webkit-transform: scale(0);
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: scale(1.125);
    -webkit-animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: scale(1);
  }
}

.tooltip {
  z-index: 100;
  position: absolute;
}

.tooltip div {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.tooltip .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  border: 1px solid #000;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.tooltip .actions {
  position: relative;
  background-color: #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.tooltip a {
  text-decoration: none;
  padding-right: 5px;
  color: #fff;
  display: block;
}

.tooltip a:hover {
  color: #00589D;
  text-shadow: #00589D 0px 0px 3px;
}

@media all and (max-width:1199px){
  .task .tooltip {
    right: -140px;
    top: 0px;
    display: none;
    min-width: 130px;
  }

  .task .tooltip .arrow {
    left: -5px;
    top: 10px;
  }
  
  .tasks_list li:hover.task .tooltip {
    display: block;
    -webkit-animation-name: bounce-scale;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: top left;
  }
}

@media all and (min-width:1200px){
  .task .tooltip {
    left: -135px;
    top: -2px;
    display: none;
    min-width: 130px;
  }

  .task .tooltip .arrow {
    right: -5px;
    top: 10px;
  }
  
  .tasks_list li:hover.task .tooltip {
    display: block;
    -webkit-animation-name: bounce-scale;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: top right;
  }
}

#nav_main .tooltip {
  top: 50px;
}

#nav_main .tooltip .arrow {
  left: 5px;
  top: -2px;
}

#nav_main .actions {
  font-size: 10px;
}

/*** APPLICATION LAYOUT ***/
#outside_box {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 3px 3px 4px #DDDDDD;
	-moz-box-shadow: 3px 3px 4px #DDDDDD;
	-webkit-box-shadow: 3px 3px 4px #DDDDDD;
	
	background-color:#FFFFFF;
	font-size: 14px;
	width: 500px;
	
	margin: 25px auto 30px;
}

#outside_box .wrap {
  margin-top: 20px;
}

#outside_box h1 {
  text-align: center;
	font-size: 18px;
	padding: 20px 20px 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
}

.devise_links {
  border-top: 1px solid #eee;
  padding: 20px; 
  height: 18px;
}

.devise_links li {
  float: left;
  padding-right: 5px;
}

.devise_links a {
  color: #000;
  text-decoration: none;
  margin-right: 5px;
}

.devise_links a:hover {
  text-decoration: underline;
}

/*** SESSION/NEW ***/

#login_box input[type="text"], #login_box input[type="password"], #login_box select {
  font-size: 18px;
  width: 98%;
}

#login_box form {
  padding: 20px;
}

#login_box p {
  margin-bottom: 10px;
}

#login_box input[type="submit"] {
  padding: 5px;
  font-size: 14px;
  width: 100px;
}

header .actions {
  margin-top: -24px;
  float: right;
}

header .actions li {
  display: inline-block;
}

header .actions a {
  text-decoration: none;
  background: #d9d9d9;
  background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9)); 
  text-shadow: 1px 1px 1px #fff;
  color: #000;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #B3B3B3;
}

header .actions a:hover {
  background: #ececec;
  background: -moz-linear-gradient(top, #ffffff, #ececec);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  margin: 0px;
}

header .actions a:active {
  box-shadow: 0px 1px 4px #00589D;
  -moz-box-shadow: 0px 1px 4px #00589D;
  -webkit-box-shadow: 0px 0px 2px #00589D;
}


#content {
  padding: 0 20px 20px;
}

#content p {
  background: #ECF3FE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
}

#content h2 {
  font-size: 14px;
  margin-top: 10px;
}

#content ul {
  padding-left: 20px;
  margin: 10px;
  list-style: circle;
}

#users_list li {
  display: inline-block;
  margin: 1px;
  padding: 10px;
  height: 45px;
  width: 300px;
  float: left;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#users_list li:hover {
  margin: 0px;
  border: 1px solid #eee;
}

#users_list img {
  float: left;
  border-right: 1px solid #eee;
  padding-right: 5px;
  margin-right: 5px;
}

#users_list em {
  font-size: 10px;
  color: #CC0000;
}

aside .aside_section h3 {
  border-bottom: 1px solid #D7D7D7;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 15px 0 5px;
}

aside .aside_section ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  list-style: circle;
}

aside .aside_section a {
  font-size: 12px;
  text-decoration: none;
}

aside .aside_section a:hover {
  text-decoration: underline;
  color: #000;
}

.empty_dashboard {
  text-shadow: #fff 1px 1px 1px;
  background-color: #ECF3FE;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
}

.empty_dashboard h2 {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}

.empty_dashboard a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  
  margin: 0 15px;
  padding: 5px 15px 5px 15px;

  background: #fff;
  background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E6E6E6));
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0px 1px 4px #888;
  -moz-box-shadow: 0px 1px 4px #888;
  -webkit-box-shadow: 0px 1px 4px #888;
}

.empty_dashboard a:first-child {
  margin-left: 0px;
}

.empty_dashboard a:hover {
  background: -moz-linear-gradient(top, #E6E6E6, #FFFFFF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#FFFFFF));
}

.empty_dashboard a:active {
  -box-shadow: 0px 1px 10px #888;
  -moz-box-shadow: 0px 1px 10px #888;
  -webkit-box-shadow: 0px 1px 10px #888;
}

.statuses li {
  position: relative;
  border-bottom: 1px solid #C3C3C3;
  padding: 10px;
  clear: both;
  min-height: 50px;
}

.statuses img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
	padding: 4px;
}

.statuses div {
	margin-left: 65px;
}

.statuses time {
  font-size: 10px;
  color: #5C5C5C;
}

.statuses a {
  font-size: 12px;
  text-decoration: none;
  padding: 5px;
  border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  position: absolute;
  right: 0px;
  top: 7px;
  background: #fff;
  color: #00589D;
  display: none;
}

.statuses li:hover a {
  display: block;
}

.statuses a:hover {
  color: red;
  text-decoration: underline;
}

#sections ul {
  margin-left: -10px;
}

#sections h3 {
  border-top: 1px solid #D7D7D7;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 15px 0 10px;
}

#sections .link {
  display: block;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0 4px 4px 0;
  -moz-border-radius:  0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  padding: 5px 20px;
}

#sections .link:hover, .sections .selected {
  color: #eee;
  background: #5C5C5C;
}

#sections .add_section {
  height: 3px;
  width: 60px;
  display:block;
  padding: 0px;
  position:relative;
}

#sections .add_section .tooltip {
  display: none;
}

#sections .add_section:hover .tooltip {
  display: block;
}

#sections .add_section .tooltip {
  top: -13px;
  left: -90px;
}

#sections .add_section .tooltip .arrow {
  right: -4px;
  top: 9px;
  width: 10px;
  height: 10px;
}

#sections .add_section .actions {
  font-size: 10px;
}