html, body {
  background-color: #dadada;
  margin: 0;
  padding: 0;
}

body, input, textarea, select {
  color: #5c5c5c;
  font-family: arial, tahoma, verdana, sans-serif;
}

input, textarea, select {
  background-color: #fff;
}

input[type="submit"], input[type="button"] {
  cursor: pointer;
}

header, nav, section, article, aside, footer {
  display: block;
}

input[type="submit"] {
  background-color: #00589D;
  border: 0;
  color: #fff;
}

input[type="button"], .cancel {
  background: none;
  border: 0;
  color: #5c5c5c;
}

.cancel {
  font-size: 12px;
  text-decoration: none;
}

input[type="button"]:hover, .cancel:hover {
  color: #FF0000;
}

#nav_main, footer {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:active {
  outline: 0;
}

a img {
  border: 0;
}

/*** HEADER ***/

header {
  background-color: #5c5c5c;
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px 20px 0 15px;
}

#nav_projects {
  display: inline-block;
  font-size: 12px;
  position: relative;
}

#nav_projects span {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  text-decoration: underline;
}

#nav_projects:hover span {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  color: #000;
  text-decoration: none;
}

#nav_projects ul {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  display: none;
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#nav_projects:hover ul {
  display: inline-block;
}

#nav_projects a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #095da0;
  display: block;
  padding: 10px;
  text-decoration: none;
}

#nav_projects a:hover {
  background-color: #e9e9e9;
  color: #5c5c5c;
}

#nav_account {
  float: right;
  font-size: 11px;
  line-height: 20px;
}

#nav_account a {
  color: #fff;
  padding: 0 5px;
}

#nav_account a:hover {
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #000;
  text-decoration: none;
}

/*** MAIN NAVIGATION ***/

#nav_main {
  background-color: #fff;
  height: 40px;
  margin: 0 auto;
  width: 980px;
}

#goto_dashboard {
  background: #eee url(../images/sprite.png) 13px -16px no-repeat;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}

#goto_dashboard:hover {
  background-position: 13px -49px;
}

#new_section {
  overflow: hidden;
}

#nav_sections {
  float: left;
  font-size: 14px;
  overflow: hidden;
  width: 900px;
}

#nav_sections li {
  display: block;
  float: left;
  height: 30px;
  padding: 5px 0;
}

#nav_sections .dragging {
  box-shadow: 0px 10px 20px -10px #888;
  -moz-box-shadow: 0px 10px 20px -10px #888;
  -webkit-box-shadow: 0px 15px 20px -10px #888;
}

#nav_sections .section a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #00589d;
  float: left;
  font-weight: bold;
  line-height: 32px;
  max-height: 30px;
  padding: 0 15px;
  text-decoration: none;
}

#nav_sections .section a:hover {
  background-color: #00589d;
  color: #fff;
}

#nav_sections .section a:active {
  background-color: #9dbed9;
}

#nav_sections .section .selected {
  background-color: #5c5c5c;
  color: #fff;
}

#nav_sections .add_section {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: visible;
  text-align: center;
  width: 5px;
}

#nav_sections li.add_section:hover {
  background-color: #9dbed9;
  cursor: pointer;
}

#nav_sections .add_section > a {
  background: url(../images/sprite.png) -50px 0 no-repeat;
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
  display: none;
  margin: 36px 0 0 -42px;
  padding-top: 4px;
  width: 89px;
  text-decoration: none;
}

#nav_sections li.add_section:hover > a {
  display: block;
}

#nav_sections .add_section span {
  background-color: #a5a5a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 10px;
  padding: 3px 5px;
}

#nav_sections form {
  background-color: #eee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 22px;
  padding: 4px;
}

#nav_sections input[type="text"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d7d7d7;
  font-size: 12px;
  height: 22px;
  margin-right: 5px;
  padding: 3px 4px;
  width: 100px;
}

#nav_sections input[type="text"]:hover {
  border-color: #b7b7b7;
}

#nav_sections input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 2px #999;
  -moz-box-shadow: 0px 0px 2px #999;
  -webkit-box-shadow: 0px 0px 2px #999;
}

#nav_more_sections {
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  display: block;
  float: left;
  height: 40px;
  overflow: visible;
  position: relative;
  width: 40px;
}

#nav_more_sections span {
  background: url(../images/sprite.png) 13px -89px no-repeat;
  display: block;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#nav_more_sections:hover {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

#nav_more_sections:hover span {
  background-position: 13px -121px;
}

#nav_more_sections ul {
  background: #eee;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  display: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 9999;
}

#nav_more_sections:hover ul {
  display: block;
}

#nav_more_sections ul a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #4b4b4b;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#nav_more_sections ul a:hover {
  background-color: #00589d;
  color: #fff;
}

#nav_more_sections ul a:active {
  background-color: #9dbed9;
}

/*** SECTION ***/

section {
  display: table;
  margin: 15px auto;
  min-height: 200px;
  width: 980px;
}

/*** ARTICLE ***/

article {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  display: table-cell;
  padding-bottom: 20px;
  vertical-align: top;
}

/*** EVENTS ***/

#events {
  font-size: 14px;
  padding: 10px 20px 20px;
}

#events li {
  border-top: 1px solid #eee;
  float: left;
  padding: 10px;
  width: 690px;
}

#events li:first-child, #events .personal+li {
  border-top: 0;
}

#events .personal {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top: 0;
  box-shadow: 0px 0px 3px #999;
  -moz-box-shadow: 0px 0px 3px #999;
  -webkit-box-shadow: 0px 0px 3px #999;
  margin: 3px 0;
}

#events li:hover {
  background-color: #ecf3fe;
}

#events img {
  float: left;
  margin-right: 10px;
}

#events a {
  color: #00589d;
  text-decoration: none;
}

#events p a:first-of-type {
  font-weight: bold;
}

#events a:hover {
  color: #333;
}

#events a:active {
  color: #9dbed9;
}

#events span {
  font-size: 11px;
}

    /* events reversed alignment */

    #events.align_right .personal {
      text-align: right;
    }

    #events.align_right .personal img {
      float: right;
      margin: 0 0 0 10px;
    }
    
    /* /events reversed alignment */

/*** PERSONAL ***/

.personal {
  background-color: #f8f8f8;
}

/*** ASIDE ***/

aside {
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  width: 220px;
}

/*** LIVE SEARCH ***/

#live_search {
  position: relative;
}

#live_search input[type="text"] {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 12px;
  padding: 4px 25px 4px 10px;
  width: 100%;
}

#live_search input[type="text"]:hover {
  border-color: #b7b7b7;
}

#live_search input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 4px #999;
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
}

#live_search input[type="submit"], #live_search input[type="reset"] {
  background: url(../images/sprite.png) 0 -243px no-repeat;
  border: 0;
  position: absolute;
  right: 4px;
  top: 5px;
}

#live_search input[type="submit"]:hover {
  background-position: 0 -278px;
}

#live_search input[type="reset"] {
  background-position: 0 -313px;
}

#live_search input[type="reset"]:hover {
  background-position: 0 -348px;
}

#live_search img {
  position: absolute;
  right: 6px;
  top: 5px;
}

#live_search ul {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 5px 5px #aeaeae;
  -moz-box-shadow: 0 5px 5px #aeaeae;
  -webkit-box-shadow: 0 5px 5px #aeaeae;
  font-size: 12px;
  padding: 5%;
  position: absolute;
  width: 90%;
}

#live_search a {
  color: #333;
  text-decoration: none;
}

#live_search li {
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#live_search .selected {
  background-color: #EEE;
}

#live_search strong {
  color: #00589d;
}

/*** USER CARD ***/

#user_card {
  font-size: 12px;
  height: 68px;
  padding: 0 10px;
  width: 100%;
}

#user_card a {
  color: #5C5C5C;
  text-decoration: none;
}

#user_card a:hover {
  color: #00589d;
}

#user_card img {
  float: left;
  margin-right: 10px;
}

#user_card strong {
  display: block;
  font-size: 14px;
}

/*** People on this project ***/

#people_envolved h3 {
  border-top: 1px solid #D7D7D7;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 15px 0 10px;
}

#people_envolved ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.people_images li {
  display: inline-block;
  height: 32px;
  margin: 0 0 5px;
  position: relative;
  width: 32px;
}

.people_images img {
  max-width: 100%;
}

#people_envolved .people_info {
  font-size: 11px;
}

.people_images li .people_info {
  background-color: #A5A5A5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  display: none;
  padding: 7px 10px;
  position: absolute;
  right: -16px;
  top: -47px;
  white-space: nowrap;
}

.people_images li:hover .people_info {
  display: block;
}

.people_images .people_info span {
b  ackground: url(../images/sprite.png) 0 0 no-repeat;
  bottom: -4px;
  display: block;
  height: 4px;
  position: absolute;
  right: 28px;
  width: 7px;
}

.people_extended li {
  height: 42px;
  line-height: 10px;
}

.people_extended img {
  float: left;
  margin-right: 10px;
  max-width: 32px;
}

#people_envolved strong {
  display: block;
  font-size: 12px;
  padding-bottom: 2px;
}

/*** SECTION TITLE ***/

#section_title {
  background: url(../images/sprite.png) -268px 15px no-repeat;
  border-bottom: 1px solid #eee;
  margin: 0 10px;
  padding: 20px 10px 10px 42px;
  position: relative;
}

#section_title h1 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#section_title h1 a {
  display: none;
  font-size: 11px;
  font-weight: normal;
  margin-top: 3px;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: top;
}

#section_title h1:hover a {
  display: inline-block;
}

#section_title h1 .edit {
  background-color: #00589D;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  margin-left: 10px;
}

#section_title h1 .delete {
  background: none;
  border: 0;
  color: #5c5c5c;
}

#section_title form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 16px;
}

#section_title form input[type="text"] {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 12px;
  margin-right: 10px;
  padding: 4px 25px 4px 10px;
  width: 300px;
}

#section_title form input[type="text"]:hover {
  border-color: #7e7e7e;
}

#section_title form input[type="text"]:focus {
  border-color: #008fff;
  box-shadow: 0px 0px 4px #999;
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  color: #2c2c2c;
}

#section_title form button {

}

#section_title form .edit {

}

/*** TASK ***/

.tasks_list {
  padding: 20px;
  color: #3d3d3d;
}

.tasks_list .task {
  padding: 10px 10px 10px;
  position: relative;
  margin-bottom: 5px;
}

.tasks_list li:hover.task {
  background-color: #FDFDFD;
}

.tasks_list a:not(.cancel) {
  color: #00589D;
  text-decoration: none;
}

.tasks_list a:hover {
  text-decoration: underline;
}

.tasks_list .rejected, .tasks_list .completed {
  opacity: 0.6;
}

.checkbox {
  background: #5C5C5C;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 16px;
  height: 16px;
  margin: 1px 5px 0 0;
  width: 16px;
}

.checkbox.completed:after {
  content: "✔";
  display: inline-block;
  margin: -2px 0 0 1px;
}

.checkbox.rejected:after {
  content: "✘";
  display: inline-block;
  margin: -2px 0 0 3px;
}

.tasks_list p {
  display: inline-block;
  float: left;
  max-width: 615px;
}

.tasks_list .rejected p {
  text-decoration: line-through;
}

.tasks_list .more {
  color: #00589D;
  cursor: pointer;
  font-size: 12px;
  display: none;
}

.task:hover .more {
  display: block;
}


.tasks_list time {
  display: block;
  clear: both;
  font-size: 11px;
  padding-left: 22px;
  color: #808080;
}

.tasks_list .drag {
  background: url(../images/sprite.png) -28px -63px no-repeat;
  display: none;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 13px;
}

.tasks_list .drag:hover {
  background-position: -28px -103px;
}

.task > p {
  overflow: hidden;
  height: 18px;
}

.task ul {
  bottom: 10px;
  display: none;
  font-size: 11px;
  position: absolute;
  right: 10px;
  text-align: right;
}

.task li {
  display: inline;
  padding-left: 10px;
}

.opened .archive {
  display: none;
}

.tasks_list li:hover.task .drag, .tasks_list li:hover.task ul {
  display: block;
}

.tasks_list.dragging ul, .tasks_list.dragging .drag, .tasks_list.dragging .more {
  visibility: hidden;
}

.divider {
  border-bottom: 1px solid #eee;
}

/*** LIST VIEW BUTTONS ***/

.list_images, .list_extended {
  background-image: url(../images/sprite.png);
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 17px;
  margin-right: 2px;
  width: 19px;
}

.list_images {
  background-position: -28px 3px;
}

.list_extended {
  background-position: -29px -27px;
}

.list_extended:hover, .list_images:hover, .list_on {
  background-color: #fff;
  border-color: #D7D7D7;
}

#archived_tasks {
  border-top: 1px solid #EEE;
}

#archived_tasks .task:hover .drag {
  display: none;
}

#archived_tasks .task:hover .edit {
  display: none;
}

.toggle_archived.selected {
  color: #fff;
  background-color: #00589D;
  border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

/*** FOOTER ***/

footer {
  background-color: #e2e2e2;
  color: #b8b8b8;
  font-size: 11px;
  height: 14px;
  margin: 0 auto;
  padding: 10px 10px 10px 14px;
  width: 956px;
}

footer p {
  display: inline;
}

#scroll_to_top {
  background: url(../images/sprite.png) 4px -173px no-repeat;
  cursor: pointer;
  display: block;
  float: right;
  height: 14px;
  width: 20px;
}

#scroll_to_top:hover {
  background-position: 4px -203px;
}

/*** FOR REVISION:TASK FORMS ***/

.tasks_list form {
  padding: 13px 15px;
  position: relative;
  background-color: #eee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.task form{
  margin: -10px;
}

.tasks_list form label {
  display: block;
}

.tasks_list form textarea {
  display: block;
  width: 100%;
  height: 80px;
  margin: 10px 0 10px 0;
}

.tasks_list form input[type="button"] {
  font-size: 12px;
}

.tasks_list form input[type="submit"] {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 16px;
  margin-right: 5px;
  padding: 5px 10px;
}

.tasks_list form input[type="submit"]:hover {
  background: -moz-linear-gradient(top, #1977c0, #00589D);
  box-shadow: 0 0 6px #000000;
  -moz-box-shadow: 0 0 6px #000000;
  -webkit-box-shadow: 0 0 6px #000000;
}

.tasks_list form input[type="submit"]:focus {
  background: -moz-linear-gradient(top, #00589D, #1977c0);
  box-shadow: 0 0 6px #666;
  -moz-box-shadow: 0 0 6px #666;
  -webkit-box-shadow: 0 0 6px #666;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  display: block;
}

#errorExplanation p {
  color: #333;
  margin: 5px;
  padding: 10px;
  display: block;
  font-size: 12px;
}

#errorExplanation ul {
  clear: both;
  list-style: none;
  padding-left: 20px;
}

#errorExplanation li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors textarea {
  border-width: 2px;
  border-color: #ff9999;
}

/*** FOR REVISION:SECTION FOOTER ***/

#section_footer {
  padding: 0 20px 0 20px;
}

#section_footer input[type="button"]:hover {
  color: #fff;
  background-color: #00589D;
  border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#section_footer li {
  display: inline-block;
}

#section_footer > li:last-child {
  float: right;
}

/*** MORE ACTIONS ***/

#more_actions {
  font-size: 11px;
  line-height: 15px;
  overflow: hidden;
  padding-top: 4px;
  position: relative;
  text-align: center;
}

#more_actions:hover {
  overflow: visible;
}

#more_actions > span {
  cursor: pointer;
  display: block;
  height: 15px;
  padding: 0 10px;
}

#more_actions:hover > span {
  color: #fff;
  background-color: #00589D;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#more_actions ul {
  background-color: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px 0;
  position: absolute;
  width: 100%;
}

#more_actions li {
  display: block;
  padding: 0 3px;
}

#more_actions li a, #more_actions li span {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4B4B4B;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

#more_actions li a:hover, #more_actions li span:hover {
  background-color: #5C5C5C;
  color: #fff;
}

/*** FRO REVISION: TASK SHOW ***/

#task_title {
  border-bottom: 1px solid #eee;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

#task_title div {
  clear: both;
  font-size: 11px;
  padding-left: 22px;
  color: #808080;
}

#task_title .actions {
  display: none;
  float: right;
  font-size: 11px;
  vertical-align: top;
}

#task_title .actions a {
  text-decoration: none;
  padding: 5px;
}

#task_title:hover .actions {
  display: inline-block;
}

#task_title .edit {
  background-color: #00589D;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  margin-left: 10px;
}

#task_title .delete {
  background: none;
  border: 0;
  color: #5c5c5c;
}

.comment {
  padding: 10px 10px 25px;
}

.comment img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
	padding: 4px;
}

.comment div {
	margin-left: 75px;
}

.comment time {
  float: right;
  font-size: 12px;
  font-weight: normal;
}

.comment .actions {
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  margin-left: 5px;
  margin-top: -5px;
  background-color: #fd7;
  border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.comment .edit {
  background-color: #00589D;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  padding: 3px;
}

.comment .delete {
  padding: 3px;
  background: none;
  border: 0;
  color: #5c5c5c;
  text-decoration: none;
}

#new_comment {
  border-top: 1px solid #eee;
  margin: 0 10px;
  padding: 10px;
}

.admin_banner {
	color: red;
	border: 2px dotted red;
	padding: 10px;
	width: 170px;
	text-align: center;
	font-weight: bold;
	float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}






