body {
  margin: 0 auto;
  width: 780px;
  color: #000;
  font-family: Arial, Helvetica, Verdana;
  font-size: 12px;
}

h1 {
  font-size: 12px;
}

h2 {
  font-size: 18px;
}

ul {
  border-top: 2px solid #000;
  padding: 0px;
  margin: 0px;
  list-style: none;
  clear: both;
}

li {
  border-bottom: 1px solid #eee;
  padding: 10px 10px 10px 30px;
  position: relative;
}

.checkbox {
  border: 1px solid #000;
  display: block;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 8px;
  left: 10px;
}

.checkbox.completed:after {
  content: "✔";
  margin: -2px 0 0 3px;
}

.checkbox.rejected:after {
  content: "✘";
  margin: -2px 0 0 3px;
}

input {
  float: right;
}

@media print {
  input {
    display: none;
  }
}