<li>
  <%= image_tag user.avatar.url %>
	<span>
  	<strong><%= link_to user.full_name, [@account, user] %></strong><br />
    <small><%= user.email %></small>
    <% if @account.admin?(user) %>
      <br />
			<em>(<%=t :'activerecord.attributes.user.admin' %>)</em>
    <% end %>
	</span>
</li>