<h1>Listing users</h1>

<table>
  <tr>
    <th>Full Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.full_name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', [:edit, user] %></td>
    <td>
      <% link_to_delete(user, :confirm => 'Are you sure?', :method => :delete) do %>
        Destroy
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>