<nav id="nav_projects">
  <span><%= t "layouts.dashboard.accounts" %></span>
  <ul>
    <% current_user.admin_in_accounts.each do |account| %>
      <li><%= link_to account.name, account %></li>
    <% end %>
  </ul>
</nav>