<section>
  <header>
  	<%=title :not_found %>
  </header>
    <p class="help_notice left_text">
    	<%=raw t(:not_found_explanation_l1) %>
    	<br />
    	<br />
    	<%=raw t(:not_found_explanation_l2) %>
  	</p>
  	<br />
</section>