<section>
  <header>
    <%= title "The page you were looking for doesn't exist" %>
  </header>
    <p class="help_notice left_text">
      You may have mistyped the address or the page may have moved.
      <br />
      <br />
      Or just press the "<em>Back</em>" button on your browser.
    </p>
</section>