<header id="section_title">
  <h1 class="archived">
    <%=t "layouts.sections.archive" %>
  </h1>
</header>
<div id="content">
  <% if @sections.size == 0%>
    <div class="help_notice">
  		<h2><%= t "sections.empty_archive" %></h2>
  	</div>
  <% else %>
    <ul>
      <% @sections.each do |section| %>
        <li><%= link_to section.name, section %> <small>(<%=t "layouts.sections.tasks", :count => section.tasks.size %>)</small></li>
      <% end%>
    </ul>
  <% end %>
</div>