<div id="section_title">
  <h1>Edit Section</h1>
</div>
<% form_for [@project, @section] do |f| %>
  <%= f.error_messages %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Update' %>
<% end %>