<div id="section_title">
  <h1>New Section</h1>
</div>
<% form_for [@project, @section], :html => {:id => nil} do |f| %>
  <%= f.error_messages %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Create' %>
<% end %>