
.statuses {
  li {
    position: relative;
    border-bottom: 1px solid #C3C3C3;
    padding: 10px;
    clear: both;
    min-height: 50px;
  }

  img {
  	float: left;
  	margin: 0 10px 10px 0;
  	border: 1px solid #eee;
  	padding: 4px;
  }

  div {
  	margin-left: 65px;
  }

  time {
    font-size: 10px;
    color: #5C5C5C;
  }

  a {
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 7px;
    background: #fff;
    color: #00589D;
    display: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }

  li:hover a {
    display: block;
  }
}