
#sections_index h1, #statuses_index h1 {
  background: url(../images/sprite.png) 0px -192px no-repeat;
}

#section_title h1 {
  background: url(../images/sprite.png) 0px -256px no-repeat;
}

#section_title h1.archived {
  background: url(../images/sprite.png) 0px -224px no-repeat;
}

#task_title {
  background: url(../images/sprite.png) 0px 0px no-repeat;
}

#tasks_index h1 {
  background: url(../images/sprite.png) 0px -64px no-repeat;
}

#dashboard_title {
  background: url(../images/sprite.png) 0px -128px no-repeat;
}

#users_title {
  background: url(../images/sprite.png) 0px -319px no-repeat;
}

#user_title {
  background: url(../images/sprite.png) 0px -288px no-repeat;
}

#project_title {
  background: url(../images/sprite.png) 0px -32px no-repeat;
}

#projects_title {
  background: url(../images/sprite.png) 0px -96px no-repeat;
}

#account_title {
	background: url(../images/sprite.png) 0px -518px no-repeat;
}