<section>
  <header>
  	<%=title t("devise.invitations.not_found") %>
  </header>
    <p class="wrap">
    	<%= raw t("devise.invitations.not_found_help", :registration => user_registration_path) %>
  	</p>
</section>