<header>
	<h1 id="users_title"><%=t :'users.title' %></h1>
	<ul class="actions">
		<%= link_to t(:'layouts.accounts.new_user'), [:new, @account, :invitation] %>
	</ul>
</header>
<div class="wrap">
	<ul id="users_list">
	  <%= render @users %>
	</ul>
</div>