<header>
	<h1 id="project_title"><%= @account.name %></h1>
	<ul class="actions">
		<li><%= link_to t(:edit), [:edit, @account] %></li>
	</ul>
</header>
<%= raw '<div class="wrap"><p class="notice">' + notice + '</p></div>' if notice %>
<div id="content">

</div>

