html, body {
  background-color: #dadada;
  margin: 0;
  padding: 0;
}

body, input, textarea, select {
  color: #5c5c5c;
  font-family: 'Helvetica', arial, tahoma, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  clear: both;
  border: 0px;
}

img {
  border: 0;
}

header, nav, section, article, aside, footer {
  display: block;
}

input[type="submit"], input[type="button"] {
  cursor: pointer;
}

input[type="button"] {
  background: none;
  border: 0;
}

textarea {
    resize: vertical;
}

a {
  color: #5C5C5C;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:active {
  outline: 0;
}

@-webkit-keyframes bounce-scale {
  from {
    -webkit-transform: scale(0);
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: scale(1.125);
    -webkit-animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: scale(1);
  }
}