$text-color: #000;
$line: #a1a1a1;
$shadow-color: #555;

$gray: #eeeeee;
$light-gray: #dddddd;
$dark-gray: #a1a1a1;

$layout-width: 1000px;
$layout-background: #dadada;

$content-background: #fefefe;

$error: #af0100;
$success: #18ac00;

$header-gradient-start: #3b547e;
$header-gradient-end: #243455;

$button-border-color: #000;
