<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= t 'sessions.title' %></title>
  	<%= stylesheet_link_tag 'application' %>
  </head>
  <body id="session_page">
    <%= yield %>
  </body>
</html>